<div>
  <div>
    <% if @user.errors.any? %>
       <div id="error_explanation">
         <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being registered:</h2>

         <ul>
         <% @user.errors.full_messages.each do |msg| %>
           <li><%= msg %></li>
         <% end %>
         </ul>
       </div>
     <% end %>


<!--
    # Html form validation
    <form accept-charset="UTF-8" action="/users" class="new_user" id="new_user" method="post">
      <input name="utf8" type="hidden" value="&#x2713;" />
      <input name="authenticity_token" type="hidden" value="NNb6+J/j46LcrgYUC60wQ2titMuJQ5lLqyAbnbAUkdo=" />
      <label for="user_name">Username</label>
      <input id="user_name" name="user[username]" type="text" />

      <label for="user_email">Email</label>
      <input id="user_email" name="user[email]" type="email" />

      <label for="user_password">Password</label>
      <input id="user_password" name="user[password]" type="password" />

      <input name="commit" type="submit" value="Create my account" />
    </form>

    # Form_tag validation
    <%= form_tag users_path do %>
      <label>Username:</label>
      <%= text_field_tag :'user[username]' %>
      <label>Email:</label>
      <%= text_field_tag :'user[email]' %>
      <label>Password:</label>
      <%= password_field_tag :'user[password]' %>
      <%= submit_tag "Create my account" %>
    <% end %>-->

    <%= form_for(@user) do |f| %>
      <%= f.label :username %>
      <%= f.text_field :username %>

      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Create my account" %>
    <% end %>
  </div>
</div>
